@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); 

/* Resetting default margin and padding for all elements */
*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;

  }
  body
  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
  }
  nav
  {
    position: relative;
    width: 524px;
    height: 50px;
    background: #222;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  nav a
  {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color:azure;
    text-decoration: none;
    padding: 0 23px;
  }
  nav span
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,#4f1919, rgba(75, 137, 75, 0.333),);
    border-radius: 8px;
  }